.vscode/launch.json
.vscode/settings.json
sm.tar.gz
sm/

# Standard SourceMod includes (not custom to this project)
sourcemod/scripting/include/admin.inc
sourcemod/scripting/include/adminmenu.inc
sourcemod/scripting/include/adt*.inc
sourcemod/scripting/include/banning.inc
sourcemod/scripting/include/basecomm.inc
sourcemod/scripting/include/bitbuffer.inc
sourcemod/scripting/include/clientprefs.inc
sourcemod/scripting/include/clients.inc
sourcemod/scripting/include/commandfilters.inc
sourcemod/scripting/include/commandline.inc
sourcemod/scripting/include/console.inc
sourcemod/scripting/include/convars.inc
sourcemod/scripting/include/core.inc
sourcemod/scripting/include/cstrike.inc
sourcemod/scripting/include/datapack.inc
sourcemod/scripting/include/dbi.inc
sourcemod/scripting/include/dhooks.inc
sourcemod/scripting/include/dod.inc
sourcemod/scripting/include/entity*.inc
sourcemod/scripting/include/events.inc
sourcemod/scripting/include/files.inc
sourcemod/scripting/include/float.inc
sourcemod/scripting/include/functions.inc
sourcemod/scripting/include/geoip.inc
sourcemod/scripting/include/halflife.inc
sourcemod/scripting/include/handles.inc
sourcemod/scripting/include/helpers.inc
sourcemod/scripting/include/keyvalues.inc
sourcemod/scripting/include/lang.inc
sourcemod/scripting/include/logging.inc
sourcemod/scripting/include/mapchooser.inc
sourcemod/scripting/include/menus.inc
sourcemod/scripting/include/nextmap.inc
sourcemod/scripting/include/northstar.inc
sourcemod/scripting/include/profiler.inc
sourcemod/scripting/include/protobuf.inc
sourcemod/scripting/include/regex.inc
sourcemod/scripting/include/sdkhooks.inc
sourcemod/scripting/include/sdktools*.inc
sourcemod/scripting/include/sm_*.inc
sourcemod/scripting/include/sorting.inc
sourcemod/scripting/include/sourcemod.inc
sourcemod/scripting/include/string.inc
sourcemod/scripting/include/testing.inc
sourcemod/scripting/include/textparse.inc
sourcemod/scripting/include/tf2*.inc
sourcemod/scripting/include/timers.inc
sourcemod/scripting/include/topmenus.inc
sourcemod/scripting/include/usermessages.inc
sourcemod/scripting/include/vector.inc
sourcemod/scripting/include/version.inc
sourcemod/scripting/include/weapons.inc
